#image_div .img_wrapper:hover img
{
    -webkit-filter: blur(3px);
}
#image_div .img_wrapper span
{
    display:none;
    position:absolute;
    top:10%;
    left:30%;
}
#image_div .img_wrapper:hover span
{
    display:table-cell;
}
